@import url("https://fonts.googleapis.com/css?family=Fredoka+One|Montserrat|Open+Sans|Raleway|Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  float: none;
  font-family: "Open Sans", "Montserrat", "Roboto", "Raleway", sans-serif;
  color: #fff;
  list-style-type: none;
  background: transparent;
  border: none;
}

body {
  background-image: url("https://cdn.pixabay.com/photo/2015/09/10/14/14/scratched-934483_1280.jpg");
  min-height: 100vh;
  font-size: 15px;
}

.container {
  display: grid;
  height: 100%;
  min-height: 100vh;
  max-width: 97.5%;
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  background-color: rgba(85, 85, 85, 0.4);
  grid-template-columns: 0.21fr 1fr;
  grid-template-rows: 6em 2.5em 1fr 3.5em;
  grid-template-areas: "header    header" "nav       nav" "aside     main" "footer    footer";
}

.__hover {
  transition: all 0.25s;
}
.__hover:hover {
  transform: scale(1.1);
}

.__hover__rotate_-5:hover {
  transform: rotate(-5deg);
}

.header {
  grid-area: header;
  background-color: rgba(238, 238, 238, 0.2);
  padding-left: 2em;
  padding-right: 2em;
}
.header .logoType {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logoType .logo_img {
  font-size: 4em;
  position: relative;
}
.header .logoType .logo_img:after, .header .logoType .logo_img:before {
  content: "";
  position: absolute;
  display: block;
  height: 0;
  width: 0.1rem;
  background-color: #eee;
  transition: all 0.2s linear;
}
.header .logoType .logo_img:before {
  top: 0;
  bottom: unset;
  left: -0.5rem;
}
.header .logoType .logo_img:after {
  bottom: 0;
  top: unset;
  right: -0.5rem;
}
.header .logoType .logo_img:hover:before, .header .logoType .logo_img:hover:after {
  height: 100%;
}
.header .logoType .index_link {
  font-size: 2.5rem;
  font-family: "Fredoka One";
  letter-spacing: 1rem;
  position: relative;
  transition: all 0.5s cubic-bezier(0.9, -0.54, 0.13, 1.71);
}
.header .logoType .index_link:hover {
  transform: scale(1.3, 1.1);
  letter-spacing: 0.5rem;
  margin-right: 1em;
}
.header .logoType .index_link:after, .header .logoType .index_link:before {
  content: "";
  position: absolute;
  display: block;
  height: 0.1rem;
  width: 100%;
  background-color: #eee;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s cubic-bezier(0.9, -0.54, 0.13, 1.71);
}
.header .logoType .index_link:after {
  bottom: 0;
  top: unset;
}
.header .logoType .index_link:before {
  top: 0;
  bottom: unset;
}
.header .logoType .index_link:hover:before, .header .logoType .index_link:hover:after {
  width: 75%;
  box-shadow: 0 0 3px #eee;
}

.nav {
  grid-area: nav;
  background-color: rgba(238, 238, 238, 0.3);
}

.aside {
  grid-area: aside;
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aside .link_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aside__block {
  box-shadow: 0 0 3px #bbbbbb, 0 0 3px 1px #eee, 0 0 2px #d5d5d5 inset, 0 0 3px 1px #aaa inset, 0 3px 3px 2px #777;
  border-radius: 1em;
  padding: 0.4rem;
  margin-bottom: 2em;
}
.aside__block .__link {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aside__block .__title {
  margin-bottom: 0.5em;
  font-family: "Montserrat";
  letter-spacing: 1.5px;
  font-weight: bold;
  cursor: default;
}

.__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.__field {
  display: block;
  font-size: 12px;
  box-shadow: 0 0 0 1px #eee;
  border-radius: 0.6rem;
  line-height: 1.7rem;
  width: 90%;
  padding: 0 0.4rem 0 0.4rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.75rem;
  text-align: center;
}
.__field:active, .__field:focus {
  outline: none;
  background-color: rgba(238, 238, 238, 0.1);
}
.__field:active {
  box-shadow: none;
  transform: scale(1.05);
}

.__submit {
  display: block;
  font-size: 12px;
  box-shadow: 0 0 3px 1px #eee;
  border-radius: 0.6rem;
  line-height: 1.7rem;
  padding: 0 0.4rem 0 0.4rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: pointer;
}
.__submit:active, .__submit:focus {
  outline: none;
  background-color: rgba(238, 238, 238, 0.1);
}
.__submit:active {
  box-shadow: none;
  transform: scale(1.05);
}

.main {
  grid-area: main;
}
.main .__title {
  text-align: center;
}
.main .__product__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  grid-gap: 1em 0;
}
.main .__product {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  margin-left: auto;
  margin-right: auto;
}
.main .__product .product_image {
  font-size: 6em;
}

.footer {
  grid-area: footer;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.__line {
  width: 100%;
  border: 0.5px solid #eee;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.__line__50 {
  border: 0.5px solid #eee;
  width: 50%;
}

.__list {
  min-height: 100%;
  min-width: 100%;
}

.inline__list {
  display: flex;
  border-bottom: 1px solid #eee;
}
.inline__list .__item {
  flex-grow: 1;
  border-left: 0.5px solid #eee;
  border-right: 0.5px solid #eee;
}
.inline__list .__item:nth-child(1) {
  border-left: none;
}
.inline__list .__item:nth-last-child(1) {
  border-right: none;
}

.__item {
  display: flex;
  justify-content: center;
  align-items: stretch;
  font-size: 1.1rem;
  overflow: hidden;
}
.__item .item__link {
  color: #eee;
  cursor: pointer;
  transition: all 0.075s ease-in-out;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.__item .item__link:visited {
  color: #eee;
}
.__item .item__link:hover {
  color: #333;
  background-color: rgba(238, 238, 238, 0.2);
}

.__list_type_point {
  list-style-type: square;
}

.__link {
  color: #94d19c;
  cursor: pointer;
  transition: color 0.075s linear;
}
.__link:visited {
  color: #94d19c;
}
.__link:hover {
  color: #72e6e0;
}

/*# sourceMappingURL=index.css.map */
