@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Montserrat|Open+Sans|Raleway|Roboto&display=swap');

@import 'components/mixins';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    float: none;

    font-family: "Open Sans", "Montserrat", "Roboto", "Raleway", sans-serif;

    color: #fff;
    list-style-type: none;
    background: transparent;
    border: none;
}

body {
    background-image: url("https://cdn.pixabay.com/photo/2015/09/10/14/14/scratched-934483_1280.jpg");
    min-height: 100vh;

    font-size: 15px;
}

@import 'components/container';
@import 'components/hover';
@import 'components/header';
@import 'components/nav';
@import 'components/aside';
@import 'components/form';
@import 'components/main';
@import 'components/footer';
@import 'components/lines';
@import 'components/list';
@import 'components/link';